@import "tailwindcss";
@import "../styles/header.css";

:root {
  --text-base: #f8ffff;

  --background-promotion: #4b6b23;
  --text-promotion: #bceb22;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #161d25, #1b2838);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-base);
  font-family: Arial, Helvetica, sans-serif;
}
